@charset "utf-8";
@import "./materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway');

/** Custom Variables **/
$font: 'Raleway', sans-serif;
$transition: all .1s ease;
$black: map-get($shades, 'black');

/** Custom Styles **/
header {
  .brand-logo {
    font: bold 2.5rem/4rem $font;

    @media #{$small-and-down} {
      font-size: 1.5rem;
    }
  }
  .logout { margin-left: .5rem;}
}

body {
  background: linear-gradient( transparentize($black, .25),  transparentize($black, .25)),
  url('./../images/covers.jpg');
  background-position: top center;
  background-size: cover;
  font-family: $font;
  min-height: 100vh;

  .btn {
    font-family: $font;
    margin-bottom: 1rem;
  }

  section.container {
    margin: 1rem auto;
    padding: 1.5rem;
  }

  hr {
    border-width: 0 0 1px;
    border-color: map-get($blue-grey, 'lighten-4');
  }
}

.card {

  .card-title {
    font: 1.5rem $font;
    z-index: 2;
  }

  .card-action a { vertical-align: middle; }

  .card-image {
    background: map-get($grey, 'darken-3');
    height: 250px;
    overflow: hidden;

    &:before {
      background: linear-gradient(transparentize($black, 1), transparentize($black, .3));
      bottom: 0;
      content: '';
      height: 100%;
      pointer-events: none;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.snack {
  h4 { margin-top: 0; }

  .image {
    margin-bottom: 1rem;
    padding: 0;
  }
}

.form {
  transition: $transition;

  textarea,
  input {
    font-family: $font;
  }

  .account & { padding: 1rem 2rem; }

  .review & {
    padding-bottom: 1rem;

    label { margin: .5rem .5rem 0 0; }

    &.collapsed {
      height: 0;
      opacity: 0;
      padding-bottom: 0;
      visibility: hidden;
      transition: $transition;
    }
  }
}

.reviews button { margin-bottom: 1rem; }

.review-details,
.review {

  h5 { text-transform: capitalize; }

  input[type="radio"] {

    + span {
      text-align: center;

      i { display: block; }

      &:before, &:after { display: none; }
    }

    &:not(:checked) + span { padding: 0; }

    &:checked + span {
      padding: 0;

      i { color: map-get($green, 'base') }
    }
  }
}

.notice {
  padding: .5rem;
  transition: $transition;
}

.hidden {
  opacity: 0;
  padding: 0;
  transition: $transition;
  visibility: hidden;
}

img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .card .card-image & {
    transform: scale(1.5);
    transition: $transition;
  }

  .card:hover .card-image & {
    transform: scale(2);
    transition: $transition;
  }

  .collection-item & { max-width: 150px; }
}

.material-icons {
  vertical-align: bottom;
  .card-action &, .nav-wrapper ul li & { display: inline-block; }
}
